*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  background:url(img/istanbul.jpg) no-repeat fixed;
  background-size:cover;
}


#cont{
  margin-top: 40px;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
  background-color: green;
  height: auto;
}

.quisom{
  height: 200px;
  width: 100%;
  background-color: pink;
  position: relative;
  margin-top: 60px;
}

.quisom p{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 35px;
  margin-top: 5px;
}

#tx{
  background-color: navy;
  height: auto;
  width:100%;
}

.tx-horari, .tx-domicili{
  height: 200px;
  background-color: orange;
}

.tx-titulo p{
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  margin: 5px;
}

.cont{
  width:80%;
  height: auto;
}



/* FONDOS qui som*/
.horari, .horari-mov{
  background: url(img/mosque.jpg);
  background-size: cover;
}
.domicili, .domicili-mov{
  background: url(img/globos.jpg);
  background-size: cover;
}

  /*RECEPTES*/
.receta-item img{
  width: 100px;
}

section#recetas{
  margin: 50px 5% 0 5%;
  color:#fff;
}

.primerafila, .segundafila{
  display:flex;
}

.col-2 { flex: 0.5; }
.col-2 img { width: 200px;}

.receta-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    height: 300px;
    position: relative;
    padding: 20px;
}

.receta-item p{
  font-size: 25px;
}

.receta-item h4{
  font-size: 30px;
  text-transform: uppercase;
}

.receta-item:hover .overlay{
  height: 100%;
  padding: 20px;
}


/*RECEPTES fons de receptes*/
.waa-banner{
  background: url(img/mosque.jpg);
}
/* ESTILOS NAVEGADOR SUPERIOR*/
.topnav{
 overflow:hidden;
 background-color:#AF2025;
}
/* ocultar los links en el menu excepto el logotipo */
.topnav #myLinks {
 display: none;
}
/* decoracion de los links del menu */
.topnav a {
 color: white;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
 display: block;
}
/* decoracion icono  menú hamburguesa */
.topnav a.icon {
 background: #771215;
 display: block;
 border-radius: 50%;
 position: absolute;
 right: 15px;
 top: 20px;
}
/*efecto sombra*/
.topnav a img{
 filter: drop-shadow(3px 2px 5px #000);
 width:120px;
}
/* FIN ESTILOS NAVEGADOR SUPERIOR*/

/* ESTILO PARA LINK ACTIVO */
.active {
  background-color: #AF2025;
  color: white;
}
/*ESTILOS MENU ESCRITORIO*/
.clear{
  clear: both;
}
.normal{
  width:100%;
}
.normal ul{
  list-style-type: none;
}
.normal ul li a{
  text-decoration:none;
  padding-top:20px;
  padding-bottom:20px;
  display:block;
  float:left;
  width:20%;
  text-align: center;
  color:#fff;
  background-color:#771215;
}
.normal ul li a:hover{
  color:#000;
  background-color:#91191C;
}
/* FIN ESTILOS MENU ESCRITORIO*/
/*ESTILOS MENU MOVIL*/

.mobile{
  display:none;
}
.mobile ul{
  margin-top:0;
  padding:0;
  width:200px;
}
.mobile ul{
  display:none;
}
.mobile ul li {
  display: block;
  background:#BBE0BD;
  margin:0;
  padding:10px;
  list-style:none;
  border-bottom: 2px solid #8DAF8F;
}
ul li:visited{
  text-decoration:none;
}
label {
  box-sizing: border-box;
  display:inline-block;
  border: 2px solid white;
  color:#000;
  width:30px;
  height:30px;
  line-height:30px;
  font-weight:bold;
  text-align:center;
  user-select:none;
  margin:20px;
}
nav {
  width:100%;
}
h1{
  font-size:100px;
  font-weight:700;
  text-align: center;
  position: relative;
  margin-top: 40px;
  background-image: linear-gradient(
	to right,
	#f6e27a 0,
  #CA8D30 40%,
	#f6e27a 55%,
	#CA8D30 70%,
	#f6e27a 100%
	);
  color:transparent;
   -webkit-background-clip:text;
}

h2{
  font-size:50px;
  font-weight:700;
  text-align: center;
  position: relative;
  margin-top: 40px;
  background-image: linear-gradient(
	to right,
	#f6e27a 0,
  #CA8D30 40%,
	#f6e27a 55%,
	#CA8D30 70%,
	#f6e27a 100%
	);
  color:transparent;
  -webkit-background-clip:text;
}

input:checked ~ ul{display:block;}
input{display:none;}
label:hover{background-color:#818282;}
input:checked ~ label {background-color:#9EDFA2;}


.inici-mov{
  background-color: green;
  width:90%;
  height:700px;
  margin:0 auto;
}

.contenedor-mov-inici{
  width: 100%;
  height: 350px;
  display:flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  line-height: 100px;
  margin-top: 20px;
  background-color:navy;
}

.contenedor-mov-inici img{
  filter: drop-shadow(3px 2px 4px #000);
  position: relative;
  margin-top: 20px;
  height: 200px;
}

.contenedor-mov-inici span{
  font-size: 30px;
  font-family: 'Kulhu Regular', sans-serif;
  color: white;
}

.inici{
  height: 700px;
  margin: 0 auto;
  background-color: red;
}


.welcome{
  height: 500px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 180px;
  margin-top: 20px;
  background-color: green;
}

.welcome img{
  filter: drop-shadow(3px 2px 5px #000);
  position: relative;
  margin-top: 50px;
}

.welcome span{
  font-size: 50px;
  font-family: 'Kulhu Regular', sans-serif;
  filter: drop-shadow(3px 2px 5px #000);
  color: white;
}
/*FIN ESTILOS MENU MOVIL*/

/*CONTENEDOR*/
#contenedor{
  width:90%;
  padding:1%;
  background-color:#000;
  height: 700px;
  margin:0 auto;
}

.cuatro{
  background-color:#AF2025;
  width:21%;
  height:100px;
  margin:1%;
  padding:1%;
  float:left;
}

.dos{
  background-color:#AF2025;
  width:46%;
  height:100px;
  margin:1%;
  padding:1%;
  float:left;
}

.uno{
  background-color:#AF2025;
  width:96%;
  height:100px;
  margin:1%;
  padding:1%;
  float: left;
}

.footer{
  font-size: 14px;
  background-color: #525251;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  line-height: 20px;
  width: 100%;
  height: 20px;
  text-align: center;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #525251;
    overflow: hidden;
    width:100%;
    height: 0;
    transition: 0.6s all;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_container {
    margin: 10px 20% 10px 20%;
}

/*RESPONSIVE*/
@media only screen and (max-width: 770px) {
  body {
    background-color: #F1FFE7;
  }
  .normal{
    display:none;
  }
  .mobile{
    display:block;
  }

  #contenedor{
    width:100%;
  }

  .cuatro,.dos{
    width:90%;
    margin:2%;
    padding:2%;
  }

  .quisom{
    height: 200px;
    width: 100%;
    background-color: pink;
    position: relative;
    margin-top: 30px;
    text-align: center;
  }

  .quisom p{
    font-size: 20px;
    line-height: 22px;
  }
}
