body{
  background-color: #6F5A56;
}

#cabecera{
  width: auto;
  height: 100px;
  background-color: #BDB3B1;
}

#contenedor{
  background-color: #BDB3B1;
  width: 800px;
  height: 700px;
  margin: 0 auto;
}


p{
  color: white;
  line-height: 120px;
  font-size: 40px;
  margin-left: 20px;

}

.boletes{
  border-radius: 50%;
  height: 190px;
  width: 190px;
  background-color: black;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}
